In [8]:
# تمرین جلسه 6
x=[1,-5,9,23,12,1]
x[4:4]=['reza']
print(x)

[1, -5, 9, 23, 'reza', 12, 1]

In [9]:
x=[1,-5,9,23,12,1]
x[2:4]=[]
print(x)

[1, -5, 12, 1]

In [12]:
x=[1,-5,9,23,12,1]
x[0]="ali"
print(x)

['ali', -5, 9, 23, 12, 1]

In [12]:

for i in range(1,4):
    t=float(input('t='))
    if t<=160:
        normal=t*100000
        total=normal
        print('total wage is:',total)
    if t>160 and t<=200:
        normal=160*100000
        extra=(t-160)*50000
        total=normal+extra
        print('total wage is:',total)
    if t>200:
        total=18000000
        print('total wage is:',total)

t=150
total wage is: 15000000.0
t=180
total wage is: 17000000.0
t=210
total wage is: 18000000

In [2]:
# تمرین جلسه 7
x=[10,-5,9,23,12,1]
x.insert(4,'reza')
print(x)

[10, -5, 9, 23, 'reza', 12, 1]

In [8]:
x=[10,-5,9,23,12,1]
for i in range(2):
    x.pop(2)
print(x)

[10, -5, 12, 1]

In [9]:
x=[10,-5,9,23,12,1]
x.remove(1)
x.append('ali')
print(x)

[10, -5, 9, 23, 12, 'ali']